#hero-overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

body {
  color: white;
  background-image: url('../images/foosball_background.jpg');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  position: relative;
  height: 100vh;
  padding-top: 65px;
}

#background {
  background: rgba(255, 255, 255, 0.3);
}

#navbar {
  background-color: black;
}

#dividers {
  color: black;
}

#rank,
#opponent,
#elo,
#winRate,
#winLoss {
  width: 25%;
}

@media only screen and (max-width: 768px) {
  .second {
    margin-top: 25px;
  }
  #addGameButton {
    margin-right: 30px;
    margin-top: 30px;
  }
  #addPlayerButton {
    margin-left: 30px;
    margin-top: 30px;
  }

  #rank,
  #opponent,
  #elo {
    width: 25%;
  }

  #winRate {
    width: 25%;
  }

  #winLoss {
    display: none;
    visibility: hidden;
    position: absolute;
    left: -9999px;
  }
}

@media only screen and (max-width: 430px) {
  #champions {
    padding-bottom: 140px;
  }

  body #rank,
  #opponent,
  #elo {
    width: 33%;
  }

  #winRate,
  #winLoss,
  #gameDate {
    display: none;
    visibility: hidden;
    position: absolute;
    left: -9999px;
  }
}
